[Unit]
Description=My Sysadmin Script Container
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker start -a my-app
ExecStop=/usr/bin/docker stop my-app
Restart=on-failure

[Install]
WantedBy=multi-user.target
